# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Virtual environment directories
env/
venv/
.nox/

# Data files
data/raw/
data/cleaned/
*.csv
*.xlsx
*.tsv

# Secret config
.env
*.env
openai_key.txt

# macOS system files
.DS_Store

# Logs and outputs
*.log
logs/

